{% extends "_base.html" %}

{% block content %}

<h1>Add a Product</h1>
<br>
<form class="form-product" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
  {{ form.name.label }}
  <br>
  {{ form.name(placeholder="product name") }}
  <span class="error">
    {% if form.name.errors %}
      {% for error in form.name.errors %}
        {{ error }}
      {% endfor %}
    {% endif %}
  </span>
  </p>
  <p>
  {{ form.version.label }}
  <br>
  {{ form.version(placeholder="product version") }}
  <span class="error">
    {% if form.version.errors %}
      {% for error in form.version.errors %}
        {{ error }}
      {% endfor %}
    {% endif %}
  </span>
  </p>
  <p>
  {{ form.price.label }}
  <br>
  {{ form.price(placeholder="product price") }}
  <span class="error">
    {% if form.price.errors %}
      {% for error in form.price.errors %}
        {{ error }}
      {% endfor %}
    {% endif %}
  </span>
  </p>
  <button class="btn btn-success" type="submit">Add Product!</button>
</form>

{% endblock %}