{% extends "_base.html" %}

{% block content %}

  <div id="main-wrapper">
    <h1>Welcome to Flask Download!</h1>
    <h1 class="lead">Sell a digital download.<br><br><span class="glyphicon glyphicon-cloud-download"></span></h1>
    <form action="{{ url_for('product.purchase') }}" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ config.STRIPE_PUBLISHABLE_KEY }}"
        data-amount="{{ config.PRODUCT_AMOUNT }}"
        data-name="{{ config.PRODUCT_NAME }}"
        data-description="{{ config.PRODUCT_DESCRIPTION }}">
      </script>
    </form>
  </div>

{% endblock %}